broker.url=
client.id=paradiso-business-unit
topics=TicketmasterEvent,TflJourney
eventstore.path=eventstore
api.port=7000
subscriber.enabled=true
subscriber.reconnect.delay.ms=5000
subscriber.reconnect.max.delay.ms=30000