api.key=
countries=GB
cities=London
categories=music,festival
lookahead.days=60
capture.period.minutes=60

broker.url=tcp://localhost:61616
topic.name=TicketmasterEvent
source.system=ticketmaster-feeder
