# Sprint 1
api.key=
countries=GB
cities=London
categories=music,festival
lookahead.days=60
capture.period.minutes=60
sqlite.path=data/ticketmaster.db

# Sprint 2
broker.url=tcp://localhost:61616
topic.name=TicketmasterEvent
source.system=ticketmaster-feeder
# Nota: sqlite.path ya no se usa en el flujo principal del Sprint 2